[safe]
	directory = /home/orb/ORB_SLAM3
[user]
	name = Shir Ben Ami
	email = shirbenami@gmail.com
[credential]
	helper = "!f() { /root/.vscode-server/bin/ddc367ed5c8936efe395cffeec279b04ffd7db78/node /tmp/vscode-remote-containers-8272947a-00e3-4660-ad5f-cec199411731.js git-credential-helper $*; }; f"
